body { font-family:'Tahoma', sans-serif; background:#f4f4f9; color:#333; text-align:center; padding:20px; }
img { border-radius:8px; max-width:20cm; }
input[type="range"] { margin:5px 0; width:100%; }

